.pa {
  font-family: Montserrat;
}

.pa h3 {
  margin: 20px 0 50px;
  font-size: 25px;
}

.pa-left {
  text-transform: uppercase;
  font-weight: 700;
  width: 30%;
}
.pa-block {
  display: flex;
}
.warper {
  width: 100%;
}
.pa-left ul label {
  padding: 10px 20px;
  display: block;
  border-radius: 20px;
}
#warp1:checked ~ .pa-block .pa-left ul .label1,
#warp2:checked ~ .pa-block .pa-left ul .label2 {
  background-color: #D9D9D9;
}
#warp1:checked ~ .pa-block .pa-right form,
#warp1:checked ~ .pa-block .pa-right .pa-right__btn {
  display: flex;
}
#warp1 ~ .pa-block .pa-right form,
#warp1 ~ .pa-block .pa-right .pa-right__btn {
  display: none;
}
#warp2:checked ~ .pa-block .pa-right .delete-account__block,
#warp2:checked ~ .pa-block .pa-right .delete-account__block {
  display: block;
}
#warp2 ~ .pa-block .pa-right .delete-account__block,
#warp2 ~ .pa-block .pa-right .delete-account__block {
  display: none;
}
.pa-right form textarea {
  resize: none;
  width: 100%;
}
.pa-right input {
  width: 48%;
}
.pa-right input,
.pa-right textarea {
  font-family: Montserrat;
  border: 0;
  outline: 0;
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 10px 35px;
  font-size: 15px;
  margin-bottom: 15px;
}

.pa-right input::placeholder,
.pa-right textarea::placeholder {
  color: #000;
}
.pa-right form {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pa-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-bottom: 80px;
}
.pa-right__btn button,
.confirm button {
  width: 48%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 45px;
  outline: 0;
  font-size: 15px;
  border: 1px solid #181818;
}
.pa-right__btn {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 40px;
}
.save-account,
.delete-account {
  background-color: #181818;
  color: #FFF;
}
.onMain {
  background-color: #FFF;
  color: #181818;
}
.product-favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.product-favorites .product-card__block {
  width: 240px;
}
.delete-account__block .confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirm p {
  margin-bottom: 30px;
}
.confirm button {
  margin-bottom: 15px;
}