* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body * {
  color: #181818;
  transition: 200ms;
}
a {
	text-decoration: none;
	color: inherit;
  cursor: pointer;
}
.container {
  max-width: 1168px;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}
